{% extends "base.jinja2"%}

{% block head %}
{% endblock %}

{% block content %}

<p>Coucou {{username}}</p>

<img src="{{ url_for('images', path='TEST.jpg') }}" />   

<form action="/logout" method="POST" >
    <button type="submit">
        Jaaj
    </button> 
</form>
{% endblock %}
